body {
    font: 1rem/1.5 sans-serif;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

main,
header,
footer,
article {
    overflow: hidden;
}

.container {
    width: 90%;
    max-width:1600px;
    margin: 0 auto;
    overflow:hidden;
}

header {
    padding: 1em 0;
}

footer {
    padding: 1em 0;
}

#logo {
    float: left;
    font-size: 2em;
    padding: 0.25rem;
    margin: 0.25rem;
}

header nav {
    float: right;
}

nav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ol li a {
    display: inline-block;
    padding: 0.25em 1em;
    margin: 0.25rem;
    border-bottom-width:1px;
    position: relative;
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.item {
    flex: 1 1 200px;
    margin: 1rem;
}

#team {
    text-align: center;
}